.App {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    grid-gap: 100px;
    border: 2px solid;
}

.container {
    height: 250px;
    min-width: 400px;
    border: 1px solid;
}